{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('AdminUser.index') }}">User</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Supprimer</li>
			</ol>
		</nav>

		{% if present == true %}

			<h3>Voulez vous archiver cet utilisateur</h3>
		{% else %}
			<h3>Voulez vous supprimer définitivement cet utilisateur</h3>
		{% endif %}


		<form method="post">
			<p>Nom complet :
				{{user.lastName | upper}} {{user.firstName }}
			</p>
			<p>Mail :
				{{ user.email }}</p>
			<button type="submit" class="btn btn-danger">
				{% if present == true %}
					Archiver
				{% else %}
					Supprimer
				{% endif %}
			</button>
		</form>
		{% if present == true %}
			<a href="{{ path('AdminUser.index') }}" class="btn btn-outline-primary">Annuler</a>
		{% else %}
			<a href="{{ path('AdminArchive.users') }}" class="btn btn-outline-primary">Annuler</a>
		{% endif %}

	</div>

{% endblock %}
