{% extends "base.html.twig" %}

{% block title %}Modification compte
{% endblock %}

{% block body %}
	<div class="well">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('AdminUser.index') }}">User</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Modifier</li>
			</ol>
		</nav>
		<a data-target="#" data-tooltip="retour" id="retourArriere" class="tooltipped modal-trigger btn btn-danger" href="#modal1">Annuler</a>

		{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="form-group row">
			<ion-icon name="information-circle" data-toggle="tooltip" data-placement="top" title="Vous ne pouvez pas rentrer de chiffre ou de charactères spéciaux"></ion-icon>
			{{ form_label(form.lastName,"Nom",{'label_attr' : {'class': 'col-sm-2 control-label'}}) }}
			<div class="col-sm-8">
				{{ form_widget(form.lastName,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
			</div>
		</div>
		<div class="form-group row">
			<ion-icon name="information-circle" data-toggle="tooltip" data-placement="top" title="Vous ne pouvez pas rentrer de chiffre ou de charactères spéciaux"></ion-icon>
			{{ form_label(form.firstName,"Prenom",{'label_attr' : {'class': 'col-sm-2 control-label'}}) }}
			<div class="col-sm-8">
				{{ form_widget(form.firstName,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
			</div>
		</div>
		<div class="form-group row">
			{{ form_label(form.username,"Nom d'utilisateur",{'label_attr' : {'class': 'col-sm-2 control-label'}}) }}
			<div class="col-sm-8">
				{{ form_widget(form.username,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
			</div>
		</div>
		<div class="form-group row">
			{{ form_errors(form.password.first) }}
			<ion-icon name="information-circle" data-toggle="tooltip" data-placement="top" title="Doit contenir au moins 8 charactères dont 1 lettre, 1 chiffre et 1 charactères spécial"></ion-icon>
			{{ form_label(form.password,"Mot de passe",{'label_attr' : {'class': 'col-sm-2 control-label'}}) }}
			<div class="col-sm-8">
				{{ form_widget(form.password.first,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
			</div>
		</div>
		<div class="form-group row">
			{{ form_label(form.password,"Confirmer mot de passe",{'label_attr' : {'class': 'col-sm-2 control-label'}}) }}
			<div class="col-sm-8">
				{{ form_widget(form.password.second,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
			</div>
		</div>
		<div class="form-group row">
			{{ form_label(form.email,"Mail",{'label_attr' : {'class': 'col-sm-2 control-label'}}) }}
			<div class="col-sm-8">
				{{ form_widget(form.email,{'attr': {'class': 'form-control','autocomplete' : 'off'}}) }}
			</div>
		</div>
		{# <div class="form-group row">
			<label for="roles" class="control-label col-sm-2">Roles</label>
			<div class="col-sm-8">
				<select id="roles" name="roles" class="form-control">
					<option value="0">User</option>
					<option value="1">Admin</option>
					<option value="2">Public</option>
				</select>
			</div>
		</div> #}
		<button type="submit" class="btn btn-primary">
			<i class="fas fa-check hvr-icon"></i>
			Enregistrer les modifications
		</button>
		{{ form_rest(form) }}
		{{ form_end(form) }}
		<input id="form_idUser" type="hidden" value="{{ id }}">
		<img id="barcode"/>
	</div>
	<div id="modal1" class="modal">
		<div class="modal-content"></div>
		<div class="modal-footer"></div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		generate();
$('.modal-trigger').click(function () {
$('.modal').modal();
url = $(this).attr('data-target');
$.get(url, function (data) {
$('.modal-content').html(data);
$('#modal1').modal('open');
});
});
$(document).ready(function () {
$('[data-toggle="tooltip"]').tooltip({placement: 'top'});
});
function sansAccent(mot) {
var accent = [
/[\300-\306]/g,
/[\340-\346]/g, // A, a
/[\310-\313]/g,
/[\350-\353]/g, // E, e
/[\314-\317]/g,
/[\354-\357]/g, // I, i
/[\322-\330]/g,
/[\362-\370]/g, // O, o
/[\331-\334]/g,
/[\371-\374]/g, // U, u
/[\321]/g,
/[\361]/g, // N, n
/[\307]/g,
/[\347]/g, // C, c
];
var noaccent = [
'A',
'a',
'E',
'e',
'I',
'i',
'O',
'o',
'U',
'u',
'N',
'n',
'C',
'c'
];
var str = mot;
for (var i = 0; i < accent.length; i++) {
str = str.replace(accent[i], noaccent[i]);
}
return str;
}
function generate() {
var id = document.getElementById('form_idUser').value;
var nom = document.getElementById('form_nom').value;
nom = sansAccent(nom);
var prenom = document.getElementById('form_prenom').value;
prenom = sansAccent(prenom);
var code = id + '-' + nom + prenom;
JsBarcode('#barcode', code);
}
	</script>
	{{parent() }}
{% endblock %}
