{% extends 'base.html.twig' %}

{% block title %}Comptes utilisateurs
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">
					<a href="#">Gestion</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">User</li>
			</ol>
		</nav>

		<h1 class="h1 my-3">
			{% if present == true %}
				Gestion des utilisateurs
			{% else %}
				Archive des utilisateurs
			{% endif %}

		</h1>
		<a href="{{ path('AdminUser.add') }}" class="btn btn-success my-5">
			<i class="fas fa-plus-circle"></i>
		</a>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Pseudo</th>
					<th>Email</th>
					<th>Nom complet</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for user in paginator.data %}

					{% if user.present == present %}

						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.username }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.fullName}}</td>

							<td class="text-center">
								<a title="Modifier les informations" href="{{ path('AdminUser.edit', {'id' : user.id}) }}" class="btn btn-primary mr-2">
									<i class="fas fa-edit"></i>
								</a>
								{% if present == true %}
									<a href="{{ path('AdminUser.delete', {'id' : user.id}) }}" class="btn btn-danger ml-2" title="Bloquer le compte">
										<i class="fas fa-user-lock"></i>
									</a>
								{% else %}

									<a href="{{ path('AdminArchive.userDelete', {'id' : user.id}) }}" class="btn btn-danger ml-2" title="Supprimer le compte">
										<i class="fas fa-trash"></i>
									</a>
								{% endif %}
								{% if present == false %}
									<a href="{{ path('AdminArchive.activateAccount', {'id' : user.id}) }}" title="Activer le compte" class="btn btn-success ml-2">
										<i class="fas fa-unlock"></i>
									</a>
								{% endif %}
							</td>


						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>

		{{ paginator.display }}
	</div>

{% endblock %}
