{% extends "base.html.twig" %}

{% block title %}
    Types
{% endblock %}

{% block body %}
    <div class="container-fluid">

       {% include "admin/partials/miniHeader.html.twig"  with { Title  : 'Types', GoBack : 'Gestion', Link : path('AdminDashboard.index') } %}

        <h1 class="h1 my-3">Gestion des types</h1>

        <a href="{{ path('AdminType.add') }}" class="btn btn-success my-5">
			<i class="fas fa-plus-circle"></i>
		</a>

        <table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Libellé</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for type in paginator.data %}

					<tr>
						<td>{{ type.id }}</td>
						<td>{{ type.wording }}</td>
                    	<td class="text-center">
                            <a title="Modifier les informations" href="{{ path('AdminType.edit', {'id' : type.id}) }}" class="btn btn-primary mr-2" title="Modifier le type">
								<i class="fas fa-edit"></i>
							</a>
                            <a href="{{ path('AdminType.delete', {'id' : type.id}) }}" class="btn btn-danger ml-2" title="Supprimer le type">
									<i class="fas fa-trash"></i>
							</a>
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{{ paginator.display }}
    </div>
    
{% endblock %}