<div class="container">
    <h1 class="h1">Information de {{ user.fullName }}</h1>

    <ul>
        <li>Nom: {{ user.lastName }}</li>
        <li>Prénom: {{ user.firstName }}</li>
        <li>Adresse mail: {{ user.email }}</li>
        <li>Pseudo: {{ user.username }}</li>
    </ul>
</div>
    
